 .layout { 
display: grid; 
grid-template-columns: 260px 1fr; 
gap: 20px; 
}
 .lista-candidatos { 
display: grid; 
grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
gap: 12px; 
} 
.card-candidato { 
display: flex; 
gap: 12px; 
} 
.foto-candidato { 
width: 100px; 
aspect-ratio: 161 / 225; 
object-fit: cover; 
}
.etiqueta-f { 
background-color:  
#f7e1f0; 
color:  
#8d12b3; 
} 
o .etiqueta-m { 
background-color:  
#e1ecf7; 
color:  
#1833d1; 
} 
@media (max-width: 800px) { 
.layout { 
grid-template-columns: 1fr; 
} 
} 